<h1>Create a new list</h1>
<div class="form">
  <%= simple_form_for @list do |f| %>
    <%= f.label "Enter the name of your list" %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file%>
    <%= f.submit "Update List", class: "btn btn-primary" %>
  <% end %>
</div>
